@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;   
}

header {
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    padding: 20px 100px;
    background: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo{
    font-size: 2em;
    color: aliceblue;
    user-select: none;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color:white;
    text-decoration:none;
    font-weight: 500;
    margin-left: 40px;

}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom:-6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.navigation .b_login_popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: aliceblue;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.navigation .b_login_popup:hover{
    background:white;
    color: black;
}